
.panel-color {
  background-color: #1b698e;
}

.main-component {
  max-width: 1200px;
  width: 85%;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #060606;
}


.panel-top, .panel-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.panel-top-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
}

.outside-column {
  width: 80px;
}

.panel-top-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
}

.panel-bottom-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

.panel-bottom-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
}


.btn-center {
  margin: auto;
}

.btn-top-left, .btn-bottom-left {
  margin-right: 20%;
  float: right;
  position: relative;
}

.btn-top-right, .btn-bottom-right {
  margin-left: 20%;
}

.panel-top-center, .panel-bottom-center {
  width: 23%;
}

.row-center {
  display: flex;
  justify-content: center;
}


.panel-distance {
  height: 20px;
}

.panel-distance-center-background {
  background-color: #1b698e;
  width: 69%;
}

.panel-distance-center-top {
  width: 100%;
  height: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #060606;
}

.panel-distance-center-bottom {
  width: 100%;
  height: 90px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #060606;
}

.panel-middle-distance {
  width: 6%;
}

.panel-middle-center-margin {
  width: 5%;
}

.panel-middle-center {
  display: grid;
  width: 57%;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
}

.panel-middle-left {
  width: 80px;
  padding-left: 29px;
}

.panel-middle-right {
  padding-left: 9px;
  float: right;
}

.panel-middle-side-upper {
  padding-top: 8px;
  padding-bottom: 37px;
}

.panel-middle-side-downer {
  padding-top: 17px;
  padding-bottom: 8px;
}

.btn-top-center, .btn-bottom-center {
  text-align: center;
}

.panel-middle-center-col {
  height: 165px;
  display: grid;
  width: 38%;
}

.panel-middle-center-internal {
  margin-top: auto;
  margin-bottom: auto;
}

.panel-middle-center-btn {
  margin: auto;
}


.button-width {
  width: 130px;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}


.button-panel {
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.custom-btn {
  width: 100%;
}

.custom-btn-primary:hover{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.custom-btn-primary:active{
  color: #ffffff;
  background-color: #1b698e;
  border-color: #15506c;
}

.btn-increase {
  width: 10%;
  display: inherit;
  margin: auto;
  margin-bottom: 5px;
}

.btn-decrease {
  width: 10%;
  display: table;
  margin: auto;
  margin-top: 5px;
}

/*.icon_bg {*/
/*position: absolute;*/
/*}*/

.input-box {
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
}

.light-bg {
  z-index: 1;
  width: 160px;
  height: 60px;
  background-color: green;
  position: relative;
  border-radius: 130px;
}

.light-icon {
  background-image: url("../../../assets/img/light_icon2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 80%;
  height: 80%;
}
.modal-body-custom {
  text-align: center;
}

.modal-input-section {
  display: inline-block;
}

.modal-footer-custom {
  text-align: center;
  display: inherit;
}

.button-center {
  text-align: center;
}

.set-name-input {
  display: inline;
  width: 200px;
}
