<div class="container-fluid main-component">
  <div class="row row-center" id="bpanel-top">

    <div class="bpanel-color bpanel-top-left outside-column bpanel-top">
      <div class="light-bg btn-center">
        <div id="bedroom_01" class="light-icon"  [style.opacity]="getStyle('bedroom_a')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="bpanel-top-center  bpanel-color bpanel-top">
      <div class="light-bg btn-top-left">
        <div id="bedroom_02" class="light-icon"  [style.opacity]="getStyle('bedroom_b')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>

  </div>

  <div class="row bpanel-distance row-center" id="bpanel-distance">
    <div class="outside-column bpanel-color" id="bpanel-distance-left">
    </div>
    <div class="bpanel-distance-center-background">
      <div class="bpanel-distance-center-top" id="bpanel-distance-center"><br/>
      </div>
    </div>
    <div class="outside-column bpanel-color" id="bpanel-distance-right">
    </div>
  </div>

  <div class="row row-center" id="bpanel-middle">

    <div class="bpanel-color outside-column bpanel-middle-left" id="bpanel-middle-left">
      <div class="bpanel-middle-side-upper">
        <div class="light-bg">
          <div id="bedroom_zew_14" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_14')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
      <div class="bpanel-middle-side-downer">
        <div class="light-bg">
          <div id="bedroom_zew_13" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_13')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
    </div>
    <div class="bpanel-middle-distance" id="bpanel-middle-distance">
    </div>
    <div class="bpanel-color bpanel-middle-center" id="bpanel-middle-center">
      <div class="row bpanel-middle-center-internal" id="bpanel-middle-center-internal">
        <div class="bpanel-middle-center-margin"></div>
        <div class="bpanel-middle-center-col">
          <div class="light-bg bpanel-middle-center-btn">
            <div id="bedroom_wew_01" class="light-icon"  [style.opacity]="getStyle('bedroom_wew_01')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
          <div class="light-bg bpanel-middle-center-btn">
            <div id="bedroom_wew_02" class="light-icon"  [style.opacity]="getStyle('bedroom_wew_02')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="bpanel-middle-center-col">
          <div class="light-bg bpanel-middle-center-btn">
            <div id="bedroom_wew_03" class="light-icon"  [style.opacity]="getStyle('bedroom_wew_03')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="bpanel-middle-center-col">
          <div class="light-bg bpanel-middle-center-btn">
            <div id="bedroom_wew_04" class="light-icon"  [style.opacity]="getStyle('bedroom_wew_04')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
          <div class="light-bg bpanel-middle-center-btn">
            <div id="bedroom_wew_05" class="light-icon"  [style.opacity]="getStyle('bedroom_wew_05')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="bpanel-middle-center-col">
          <div class="light-bg bpanel-middle-center-btn">
            <div id="bedroom_wew_06" class="light-icon"  [style.opacity]="getStyle('bedroom_wew_06')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>

        <div class="bpanel-middle-center-margin"></div>
      </div>

    </div>
    <div class="bpanel-middle-distance" id="bpanel-middle-distance2">
    </div>
    <div class="bpanel-color outside-column bpanel-middle-right" id="bpanel-middle-right">
      <div class="bpanel-middle-side-upper">
        <div class="light-bg">
          <div id="bedroom_zew_06" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_06')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
      <div class="bpanel-middle-side-downer">
        <div class="light-bg">
          <div id="bedroom_zew_07" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_07')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row bpanel-distance row-center" id="bpanel-distance">
    <div class="outside-column bpanel-color" id="bpanel-distance-left">
    </div>
    <div class="bpanel-distance-center-background">
      <div class="bpanel-distance-center-bottom" id="bpanel-distance-center"><br/>
      </div>
    </div>
    <div class="outside-column bpanel-color" id="bpanel-distance-right">
    </div>
  </div>

  <div class="row row-center" id="bpanel-bottom">
    <div class="bpanel-color bpanel-bottom-left outside-column bpanel-bottom">
      <div class="light-bg btn-center">
        <div id="bedroom_zew_12" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_12')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="bpanel-bottom-center  bpanel-color bpanel-bottom">
      <div class="light-bg btn-bottom-left">
        <div id="bedroom_zew_11" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_11')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="bpanel-bottom-center bpanel-color bpanel-bottom">
      <div class="light-bg btn-center">
        <div id="bedroom_zew_10" class="light-icon"  [style.opacity]="getStyle('bedroom_zew_10')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>

  </div>
  <div class="row button-panel" id="button-panel">
    <div class="button-center col-lg-3 col-xs-3 col-sm-3">
      <button type="button" class="btn btn-primary custom-btn-primary custom-btn button-width" onclick="this.blur();" [routerLink]="['/bedroom']" (click)="cancel()">ANULUJ</button>
    </div>
    <div class="button-center col-lg-6 col-xs-6 col-sm-6" >
      <input type="text" *ngIf="showSetNameInput()" [(ngModel)]="lightSetName" class="form-control set-name-input" id="inputSetName">
    </div>
    <div class="button-center col-lg-3 col-xs-3 col-sm-3">
      <button type="button" class="btn btn-primary custom-btn-primary custom-btn button-width" onclick="this.blur();"  [routerLink]="['/bedroom']" (click)="save()">ZAPISZ</button>
    </div>
  </div>
</div>

