.btn-group-custom {
  display: contents;
}

.name-filter {
  display: flex;
}

.search-device {
  display: flex;
}

.modal-header-custom{
  width: 100%;
  text-align: center;
}

.modal-content-center{
  text-align: center;
}

.wide-button{
  width: 50%;
}

.advanced-mode-switch{
  display: flex;
}

.search-results {
  max-height: 200px;
  overflow-y: auto;
  background: #222;
  border: 6px solid #222;
  border-radius: 0.25rem;
}

.search-result {
  cursor: pointer;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}


