.custom-checkbox {
  transform: scale(1.5);
  display: inline;
  width: auto;
  margin-left: 20px;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
