<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container  mt-2">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="form-group">
        <div style="margin-bottom: 5px;">
          Select condition type:
        </div>

        <div  style="margin-bottom: 15px;">
          <select class="form-control" id="selectType" [(ngModel)]="condition.type" style="width: 50%">
            <option *ngFor="let type of types" [ngValue]="type">
              {{type}}
            </option>
          </select>
        </div>

      </div>

      <div *ngIf="condition.type == 'device'">
        <div class="form-group">
          <div style="margin-bottom: 5px;">
            Select category:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectCond" [(ngModel)]="condition.category" style="width: 50%">
              <option *ngFor="let cat of deviceManager.categoriesList" [ngValue]="cat.id">
                {{cat.name}}
              </option>
            </select>
          </div>

        </div>


        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Select device:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectDev" [(ngModel)]="condition.address" style="width: 50%" >
              <option *ngFor="let device of getDevicesForSelectedCategory() | orderBy: 'name'" [ngValue]="device.address">
              {{device.name}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Select parameter:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectParam" [(ngModel)]="condition.param" style="width: 50%">
              <option *ngFor="let param of getParamsForSelectedCategory()" [ngValue]="param">
                {{param}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Select condition:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectLogicCond" [(ngModel)]="condition.condition" style="width: 50%" >
              <option *ngFor="let cond of logicalConditions" [ngValue]="cond">
                {{cond}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Input value:
          </div>

          <div  style="margin-bottom: 15px;">
            <input type="number" [(ngModel)]="condition.value" class="form-control" id="inputName" style="width: 50%; margin-bottom: 5px;">
          </div>

        </div>
      </div>


      <div *ngIf="condition.type == 'time'">

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Select condition:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectTimeLogicCond" [(ngModel)]="condition.condition" style="width: 50%">
              <option *ngFor="let cond of logicalConditions" [ngValue]="cond">
                {{cond}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Input value:
          </div>

          <div class="col-lg-8">
            <app-time-picker [(secondsFromMidnight)]="condition.value"></app-time-picker>
          </div>
        </div>
      </div>

      <div *ngIf="condition.type == 'alarm'">

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Alarm active:
            <input type="checkbox" [(ngModel)]="condition.value" class="form-control custom-checkbox" id="inputActive">
          </div>

        </div>

      </div>

      <button class="btn btn-success mr-2" (click)="onConditionSave()">Save Condition</button>
      <button class="btn btn-default" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
