.panel-body {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.action-group-name {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   /*width: 100px; */
}

.action-group-buttons {
  white-space: nowrap;
}

.wide-button{
  width: 50%;
}

.modal-header-custom{
  width: 100%;
  text-align: center;
}

.modal-content-center{
  text-align: center;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
