<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container mt-2">

  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
        <div>
          <button type="button" (click)="createActionGroup()" class="btn btn-primary mb-2 mr-2">Add new actions group</button>
        </div>

        <div class="mt-2 mb-2">
          Action widgets groups list:
        </div>

        <div class="bs-component">

          <div class="list-group" id="widgetsList">
           
             <button *ngFor="let actionGroup of actionWidgetsService.actionGroups" (click)="goToActionsGroupPage(actionGroup.key)"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="action-group-name">
                {{actionGroup.name}}
              </div>
              <div class="action-group-buttons">
                <button type="button" class="btn btn-primary mr-2" (click)="goToEditActionsGroupPage(actionGroup.key)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="onDeleteGroupPage(actionGroup, $event)">Delete</button>
              </div>
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

