<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container mt-2 ">
	<div class="col-lg-4 col-sm-12 col-xs-12 mt-3">
	  <button type="button" *ngFor="let dataName of dataSets" (click)="saveData(dataName)" class="btn btn-primary mb-2 mr-2 btn-width">Download {{dataName}} data</button>
	  
	</div>

	<div>
		<div class="input-group mb-3 mt-3 col-lg-6 col-sm-12 col-xs-12">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputFile" (change)="onFileSelect($event.target.files)">
          <label class="custom-file-label" for="inputGroupFile02">{{selectedFileName}}</label>
        </div>
        <div class="input-group-append">
          <span class="btn btn-secondary" id="loadDataBtn" (click)="loadData()">Upload Data</span>
        </div>
      </div>  
	</div>

</div>
