.widget-name {
  text-align: center;
  background: #151515;
  border-radius: 7px;
  border-width: 1px;
  border-color: #5a5a5a;
  border-style: solid;
	max-width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}
