<div class="container-fluid">
  <div class="row main-panel">
    <div class="col-md-6 col-xs-6" >
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button id="livingroomceilingeffectset1" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="loadEffectConfig($event)" long-press  (onLongPress)="saveEffectConfig($event)">SET1</button>
          <button id="livingroomceilingeffectset2" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="loadEffectConfig($event)" long-press  (onLongPress)="saveEffectConfig($event)">SET2</button>
          <button id="livingroomceilingeffectset3" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="loadEffectConfig($event)" long-press  (onLongPress)="saveEffectConfig($event)">SET3</button>
          <button *ngIf="!isManualModeOn()" id="livingroomceilingeffectmanual" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="setManualMode()">Dostosuj</button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="setDevicesMode(1)" >EFEKT 1</button>
          <button type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="setDevicesMode(3)" >EFEKT 2</button>
          <button type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="setDevicesMode(5)" >EFEKT 3</button>
          Prędkość:
          <div id="speed_section" class="speed-section">
            <button type="button" class="btn btn-primary custom-btn-primary btn-speed" onclick="this.blur();" (click)="increaseSpeed()" >+</button>
            {{speed}}
            <button type="button" class="btn btn-primary custom-btn-primary btn-speed" onclick="this.blur();" (click)="decreaseSpeed()" >-</button>
          </div>

        </div>
      </div>
      <button type="button" class="btn btn-success custom-btn-primary btn-back mt-3" onclick="this.blur();"  [routerLink]="['/livingroom']" >WRÓĆ</button>

    </div>



    <div class="col-md-6 col-xs-6 pt-3" >
      <div id="ceiling" class="ceiling-style pt-2 pb-2 pr-2 pl-2" *ngIf="isManualModeOn()" >

          <div id="salon_listwa_zew_krotka1" class="panel-border panel-top img-div-container" [style.background-color]="getStyle('salon_listwa_zew_krotka1')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
              <img *ngIf="getSelected('salon_listwa_zew_krotka1')" src="../../../assets/img/checkbox.png" class="img-style">
          </div>
          <div class="panels-vertical">
            <div id="salon_listwa_zew_dluga1" class="panel-border panel-vertical-left img-div-container" [style.background-color]="getStyle('salon_listwa_zew_dluga1')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
                <img *ngIf="getSelected('salon_listwa_zew_dluga1')" src="../../../assets/img/checkbox.png" class="img-style">
            </div>

            <div class="panel-vertical-middle">

              <div id="salon_listwa_wew_krotka1" class="panel-border panel-middle-top img-div-container" [style.background-color]="getStyle('salon_listwa_wew_krotka1')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
                  <img *ngIf="getSelected('salon_listwa_wew_krotka1')" src="../../../assets/img/checkbox.png" class="img-style">
              </div>

              <div class=" panel-middle-vertical">
                <div id="salon_listwa_wew_dluga1" class="panel-border panel-middle-vertical-left img-div-container" [style.background-color]="getStyle('salon_listwa_wew_dluga1')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
                    <img *ngIf="getSelected('salon_listwa_wew_dluga1')" src="../../../assets/img/checkbox.png" class="img-style">
                </div>
                <div class="panel-middle-center">
                </div>
                <div id="salon_listwa_wew_dluga2" class="panel-border panel-middle-vertical-right img-div-container" [style.background-color]="getStyle('salon_listwa_wew_dluga2')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
                    <img *ngIf="getSelected('salon_listwa_wew_dluga2')" src="../../../assets/img/checkbox.png" class="img-style">
                </div>
              </div>

              <div id="salon_listwa_wew_krotka2" class="panel-border panel-middle-bottom img-div-container" [style.background-color]="getStyle('salon_listwa_wew_krotka2')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
                  <img *ngIf="getSelected('salon_listwa_wew_krotka2')" src="../../../assets/img/checkbox.png" class="img-style">
              </div>


            </div>

            <div id="salon_listwa_zew_dluga2" class="panel-border panel-vertical-right img-div-container" [style.background-color]="getStyle('salon_listwa_zew_dluga2')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
                <img *ngIf="getSelected('salon_listwa_zew_dluga2')" src="../../../assets/img/checkbox.png" class="img-style">
            </div>
          </div>

          <div id="salon_listwa_zew_krotka2" class="panel-border panel-bottom img-div-container" [style.background-color]="getStyle('salon_listwa_zew_krotka2')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
              <img *ngIf="getSelected('salon_listwa_zew_krotka2')" src="../../../assets/img/checkbox.png" class="img-style">
          </div>

        </div>

    </div>
  </div>
</div>
