.ceiling-style {
  background-color: #1b698e
}

.panel-border {
  border-style: inset;
}

.custom-btn-primary:hover{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.custom-btn-primary:active{
  color: #ffffff;
  background-color: #1b698e;
  border-color: #15506c;
}

.button-style {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 80px;
  display: block;
}

.btn-back {
  width: 80%;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-speed {
  width: 30%;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.speed-section {
  text-align: center;
}

.panel-top {
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  border-radius: 10px;
}

.panel-middle-top, .panel-middle-bottom {
  height: 38px;
  background-color: black;
  border-radius: 10px;
}

.panels-vertical {
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel-bottom {
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  border-radius: 10px;
}

.panel-middle-vertical {
  height: 70%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel-vertical-left, .panel-vertical-right {
  width: 40px;
  height: 100%;
  background-color: black;
  border-radius: 10px;
}

.panel-vertical-middle {
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: auto;
}

.panel-middle-vertical-left, .panel-middle-vertical-right {
  width: 47px;
  height: 100%;
  background-color: black;
  border-radius: 10px;
}


.panel-middle-center {
  height: 100%;
  width: 100%;
}


.img-div-container {

  position: relative;
  text-align: center;
}

.img-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 25px;
}

.main-panel {
  max-width: 1200px;
  margin: auto;
}

