.switch-style{
  display: flex;
}

.panel-style{
  background: #202020;
  border-radius: 6px;
}

.pwm-icon{
	border-radius: 25px;
    border: 2px solid;
    float: right;
    height: 50px;
    width: 50px;
    background: #000000;
}