<div class="ml-3 mr-3 mt-4 mb-5 p-3 panel-style">
  <div>
    Duty cycle:
  </div>
  <div class="row">
    <div class="switch-style mt-3 mb-3 col-lg-6">
      <ui-switch
        size="small"
        switchColor="#fcfcfc"
        color="rgb(35,255,150);"
        defaultBgColor="rgb(255,80,80);"
        defaultBoColor="black"
        [(ngModel)]="allDevicesSwitch"></ui-switch>
      <div class="ml-3 ">
        Apply for all devices
      </div>
    </div>
    <div class="col-lg-6">
        <div class="mr-2 pwm-icon" [style.background]="getStyle()"></div>
    </div>
  </div>
  <ng5-slider [(value)]="value" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
</div>
