<div class="panel-style">

  <div class="row"> 
    <div class="rgb-sliders">
      <div class="red-slider mb-2 mt-4">
      <ng5-slider id="red" [(value)]="redValue" [options]="redSliderOptions" (userChange)="onUserChange('red', $event)"></ng5-slider>
      </div>
      <div class="green-slider mb-2">
      <ng5-slider id="green" [(value)]="greenValue" [options]="greenSliderOptions" (userChange)="onUserChange('green', $event)"></ng5-slider>
      </div>
      <div class="blue-slider mb-2">
      <ng5-slider id="blue" [(value)]="blueValue" [options]="blueSliderOptions" (userChange)="onUserChange('blue', $event)"></ng5-slider>
      </div>
    </div>
    <div class="horizontal-center">
      <app-radial-color-picker
      [size]="240"
      [centerRadius]="30"
      [redValue]="redValue"
      [greenValue]="greenValue"
      [blueValue]="blueValue"
      (color)="onColorPickerChange($event)"
      ></app-radial-color-picker>
    </div>
  </div>
  <div class="btn-back">
      <button type="button" class="btn btn-primary custom-btn-primary " onclick="this.blur();"  (click)="goBack()" >WRÓĆ</button>
  </div>

</div>


