
.custom-btn-danger:hover{
  color: #ffffff;
  background-color: #cc0000;
  border-color: #cc0000;
}

.custom-btn-danger:active{
  color: #ffffff;
  background-color: #750000;
  border-color: #4d0000;
}

.custom-btn-primary:hover{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.custom-btn-primary:active{
  color: #ffffff;
  background-color: #1b698e;
  border-color: #15506c;
}

.main-panel{
  /*height: 100vh;*/
  max-width: 770px;
  margin: auto;
  padding-top: 10px;
}

.panel-body {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.panel-heading{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  color: #888888;
  background-color: #3c3c3c;
  border-color: #282828;
}

.custom-btn{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.double-btn{
  padding-top: 27px;
  padding-bottom: 27px;
}

.half-btn{
  padding-top: 0px;
  padding-bottom: 0px;
  width: 47%;
}

.panel-default{
  height: 95vh;
}

.col-padding{
  padding-left: 10px;
  padding-right: 10px;
}

.img-style-livingroom{
  width: 90%;
  height: 90%;
}

.img-style-kitchen{
  width: 100%;
  height: 100%;
}


.btn-img-livingroom{
  padding-top: 0px;
  padding-bottom: 0px;
  height: 120px;
}

.btn-img-kitchen{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 15px;
  height: 119px;
}

.panel-short {
  margin-bottom: 10px;
  height: 35vh;
}

.clock-panel {
  text-align: center;
  font-size: 60px;
  color: cyan;
}

.btn-all-off {
  height: 115px;
}
