<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="form-group">
        <div style="margin-bottom: 5px;">
          Select action type:
        </div>

        <div  style="margin-bottom: 15px;">
          <select class="form-control" id="selectType" [(ngModel)]="action.type" style="width: 50%">
            <option *ngFor="let type of types" [ngValue]="type">
              {{type}}
            </option>
          </select>
        </div>

      </div>

      <div *ngIf="action.type == 'device'">
        <div class="form-group">
          <div style="margin-bottom: 5px;">
            Select category:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectCond" [(ngModel)]="action.category" style="width: 50%">
              <option *ngFor="let cat of deviceManager.categoriesList" [ngValue]="cat.id">
                {{cat.name}}
              </option>
            </select>
          </div>

        </div>


        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Select device:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectDev" [(ngModel)]="action.address" style="width: 50%">
              <option *ngFor="let device of getDevicesForSelectedCategory() | orderBy: 'name'" [ngValue]="device.address">
                {{device.name}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Select parameter:
          </div>

          <div  style="margin-bottom: 15px;">
            <select class="form-control" id="selectParam" [(ngModel)]="action.param" style="width: 50%" >
              <option *ngFor="let param of getParamsForSelectedCategory()" [ngValue]="param">
                {{param}}
              </option>
            </select>
          </div>

        </div>

        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Input value:
          </div>

          <div  style="margin-bottom: 15px;">
            <input type="number" [(ngModel)]="action.value" class="form-control" id="inputName" style="width: 50%; margin-bottom: 5px;">
          </div>

        </div>
      </div>


      <div *ngIf="action.type == 'gsmModem'">
        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Input number (+48XXXXXXXXX):
          </div>

          <div  style="margin-bottom: 15px;">
            <input type="text" [(ngModel)]="action.number" class="form-control" id="inputNumber" style="width: 50%; margin-bottom: 5px;">
          </div>

          <div style="margin-bottom: 5px;">
            Input message:
          </div>

          <div  style="margin-bottom: 15px;">
            <input type="text" [(ngModel)]="action.message" class="form-control" id="inputMessage" style="width: 50%; margin-bottom: 5px;">
          </div>

        </div>

      </div>

      <div *ngIf="action.type == 'rest'">
        <div class="form-group" >
          <div style="margin-bottom: 5px;">
            Input endpoint:
          </div>

          <div  style="margin-bottom: 15px;">
            <input type="text" [(ngModel)]="action.endpoint" class="form-control" id="inputRestEndpoint" style="width: 50%; margin-bottom: 5px;">
          </div>

          <div style="margin-bottom: 5px;">
            Input message:
          </div>

          <div  style="margin-bottom: 15px;">
            <input type="text" [(ngModel)]="action.message" class="form-control" id="inputRestMessage" style="width: 50%; margin-bottom: 5px;">
          </div>

        </div>

      </div>


      <button class="btn btn-success mr-2" (click)="onActionSave()">Save Action</button>
      <button class="btn btn-default" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
