<div class="row main-panel">
  <div *ngIf="alarmArmed === false" class="col-lg-4 col-xs-4 col-md-4 wheater-widget">
    <weather-widget [settings]="settings"></weather-widget>
  </div>
  <div *ngIf="alarmArmed === true" class="col-lg-4 col-xs-4 col-md-4 ">
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 mt-4">
    <div *ngIf="slideShowOn == false">
      <div class="form-group noselect form-control form-control-lg text-input mt-4" [style.background-color]="getAlarmTextBackground()" id="inputLarge" (click)="enableSlideshow()">{{displayValue}}</div>
      <div class="alarm-buttons">
      <div class="mb-2">
      <button class="btn btn-secondary custom-btn-secondary btn-alarm mr-2" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">1</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">2</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm ml-2" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">3</button>
      </div>
      <div class="mb-2">
      <button class="btn btn-secondary custom-btn-secondary btn-alarm mr-2" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">4</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">5</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm ml-2" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">6</button>
      </div>
      <div class="mb-2">
      <button class="btn btn-secondary custom-btn-secondary btn-alarm mr-2" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">7</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">8</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm ml-2" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">9</button>
      </div>
      <div class="mb-2">
      <button *ngIf="password == ''" class="btn btn-danger custom-btn-danger btn-alarm btn-lock-img mr-2" onclick="this.blur();"  (click)="armAlarm()">
      <img src="assets/img/lock.png" class="img-lock"/>
      </button>
      <button *ngIf="password != ''" class="btn btn-secondary custom-btn-secondary btn-alarm btn-lock-img mr-2" onclick="this.blur();" (click)="clearPassword()">C</button>
      <button class="btn btn-secondary custom-btn-secondary btn-alarm" onclick="this.blur();" touch-button (onTouch)="typePassword($event)">0</button>
      <button class="btn btn-success custom-btn-success btn-alarm btn-lock-img ml-2" onclick="this.blur();" touch-button (onTouch)="disarmAlarm()">
      <img src="assets/img/unlock.png" class="img-lock"/>
      </button>
      </div>
      </div>
    </div>

    <div id="slideshow" *ngIf="slideShowOn" [style.background-image]="'url(' + image + ')' | safe: 'style'" class="slide-show mt-4" long-press  (click)="getImage()" (onLongPress)="disableSlideShow()" >
    </div>

  </div>
  <div *ngIf="alarmArmed === false" class="col-lg-4 col-xs-4 col-md-4 pt-4">
    <div class="function-buttons">
      <div>
        <button class="btn btn-primary custom-btn-primary btn-function mt-4" onclick="this.blur();" touch-button (onTouch)="onSendSms()">
          <img src="assets/img/sms_icon2.png" class="img-func-btn"/>
        </button>
      </div>
      <div>
        <button class="btn btn-primary custom-btn-primary btn-function mt-5 mb-3" onclick="this.blur();" touch-button (onTouch)="turnOffLights()">
          <img src="assets/img/bulb_icon.png" class="img-func-btn"/>
        </button>
      </div>
      <div class="clock-panel mb-4">
        {{hours}}:{{minutes}}
      </div>
    </div>
  </div>
  <div *ngIf="alarmArmed === true" class="col-lg-4 col-xs-4 col-md-4 pt-4">
  </div>

</div>
