.main-panel {
  max-width: 770px;
  margin: auto;
  padding-top: 10px;
}

.text-input {
  text-align: center;
  background-color: #387e00;
  font-size: 1.3rem;
  padding: 0.8rem 0.5rem;
  border-width: 3px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  color: #cccccc;
}

.btn-alarm {
  padding: 0.5rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 1rem;
}

.alarm-buttons {
  text-align: center;
}

.img-lock {
  width: 100%;
  height: 100%;
}

.btn-lock-img {
  width: 4.14rem;
  padding: 0.5rem 0.8rem;
}

.btn-function {
  width: 50%;
  border-radius: 1rem;
}

.wheater-widget {
  line-height: 1.4;
}

weather-widget {
  margin: auto;
}

.function-buttons {
  text-align: center;
}

.img-func-btn {
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.clock-panel {
  text-align: center;
  font-size: 60px;
  color: #adc9ff;
}

.custom-btn-primary:hover{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.custom-btn-primary:active{
  color: #ffffff;
  background-color: #2180ac;
  border-color: #1f78a1;
}

.custom-btn-secondary:hover{
  color: #ffffff;
  background-color: #555;
  border-color: #555;
}

.custom-btn-secondary:active{
  color: #ffffff;
  background-color: #3c3b3b;
  border-color: #353535;
}

.custom-btn-danger:hover{
  color: #ffffff;
  background-color: #cc0000;
  border-color: #cc0000;
}

.custom-btn-danger:active{
  color: #ffffff;
  background-color: #990000;
  border-color: #8c0000;
}

.custom-btn-success:hover{
  color: #ffffff;
  background-color: #77B300;
  border-color: #77B300;
}

.custom-btn-success:active{
  color: #ffffff;
  background-color: #558000;
  border-color: #4d7300;
}

.slide-show {
  border-color: darkgray;
  width: 100%;
  height: 339px;
  object-fit: scale-down;
  border-style: inset;
  border-width: 4px;
  border-radius: 7px;
  background-size: cover;
  /*-webkit-transition: opacity 1s ease-in-out;*/
  /*-moz-transition: opacity 1s ease-in-out;*/
  /*-o-transition: opacity 1s ease-in-out;*/
  /*transition: opacity 1s ease-in-out;*/
}

.transition {
   opacity: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
