<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container">
  <div class="jumbotron text-center mt-4 head-section">
    <h2>IntelliHouseManager</h2>
  </div>

  <div class="panel" *ngIf="authService.loggedIn()">
    <div class="panel-body">

      <div class="form-group">

        <div class="row mb-2">
          <div class="col-lg-5 col-sm-8 col-xs-8">
            <label class="bottom-align" for="logAreaText">IntelliHouse System Logs:</label>
          </div>
          <div class="col-lg-1 col-sm-4 col-xs-4 font-selector">
            <div class="bottom-align right-align-font-selector">
              <span class="font-small" (click)="setFontSize('x-small')">T</span>&nbsp;&nbsp;
              <span class="font-regular" (click)="setFontSize('')">T</span>&nbsp;&nbsp;
              <span class="font-large" (click)="setFontSize('large')">T</span>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 filter-bar">
            <input type="text" class="form-control" id="logFilterText" [(ngModel)]="logFilter" (ngModelChange)="onFilterChange($event)" placeholder="Filter logs">
            <img src="assets/img/gear_icon.svg" class="img-gear ml-2" (click)="showPopup()"/>
          </div>
        </div>
        <!--<textarea class="form-control" id="logAreaText" rows="15" [(ngModel)]="logs" (scroll)="onScroll($event)" readonly="true"></textarea>-->
        <div class="logs-window" (scroll)="onScroll($event)" [style.font-size]="getFontSize()" id="logAreaText">
          <p *ngFor="let log of logsArray" class="log-row" [style.color]="getLogStyle(log.log)">{{log.log | logsFilter}}</p>
        </div>
        <div class="text-right">
          <span class="log-size-style ml-2">(size: {{logsSize}})</span>
        </div>

      </div>
    </div>
  </div>
  <div class="panel" *ngIf="!authService.loggedIn()">
    <h3 class="page-header">Login</h3>
    <form (submit)="onLoginSubmit()">
      <div class="form-group col-lg-3 col-xs-12 col-sm-12">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username">
      </div>
      <div class="form-group col-lg-3 col-xs-12 col-sm-12">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
      <div class="form-group">
        <input type="checkbox" [(ngModel)]="rememberme" name="remeberme">
        <label>Remember me</label>
      </div>
      <input type="submit" class="btn btn-primary" value="Login">
    </form>
  </div>
</div>

