<div class="container-fluid main-component">
  <div class="row row-center" id="panel-top">

    <div class="panel-color panel-top-left outside-column panel-top">
      <div class="light-bg btn-center">
        <div id="salon_zew_01" class="light-icon"  [style.opacity]="getStyle('salon_zew_01')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-top-center  panel-color panel-top">
      <div class="light-bg btn-top-left">
        <div id="salon_zew_02" class="light-icon"  [style.opacity]="getStyle('salon_zew_02')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-top-center  panel-color panel-top">
      <div class="light-bg btn-center">
        <div id="salon_zew_03" class="light-icon"  [style.opacity]="getStyle('salon_zew_03')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-top-center  panel-color panel-top">
      <div class="light-bg btn-top-right">
        <div id="salon_zew_04" class="light-icon"  [style.opacity]="getStyle('salon_zew_04')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-color panel-top-right outside-column panel-top">
      <div class="light-bg btn-center">
        <div id="salon_zew_05" class="light-icon"  [style.opacity]="getStyle('salon_zew_05')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>

  </div>
  <div class="row panel-distance row-center" id="panel-distance">
    <div class="outside-column panel-color" id="panel-distance-left">
    </div>
    <div class="panel-distance-center-background">
      <div class="panel-distance-center-top" id="panel-distance-center"><br/>
      </div>
    </div>
    <div class="outside-column panel-color" id="panel-distance-right">
    </div>
  </div>
  <div class="row row-center" id="panel-middle">

    <div class="panel-color outside-column panel-middle-left" id="panel-middle-left">
      <div class="panel-middle-side-upper">
        <div class="light-bg">
          <div id="salon_zew_14" class="light-icon"  [style.opacity]="getStyle('salon_zew_14')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
      <div class="panel-middle-side-downer">
        <div class="light-bg">
          <div id="salon_zew_13" class="light-icon"  [style.opacity]="getStyle('salon_zew_13')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
    </div>
    <div class="panel-middle-distance" id="panel-middle-distance">
    </div>
    <div class="panel-color panel-middle-center" id="panel-middle-center">
      <div class="row panel-middle-center-internal" id="panel-middle-center-internal">
        <div class="panel-middle-center-margin"></div>
        <div class="panel-middle-center-col">
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_01" class="light-icon"  [style.opacity]="getStyle('salon_wew_01')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_02" class="light-icon"  [style.opacity]="getStyle('salon_wew_02')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="panel-middle-center-col">
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_03" class="light-icon"  [style.opacity]="getStyle('salon_wew_03')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="panel-middle-center-col">
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_04" class="light-icon"  [style.opacity]="getStyle('salon_wew_04')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_05" class="light-icon"  [style.opacity]="getStyle('salon_wew_05')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="panel-middle-center-col">
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_06" class="light-icon"  [style.opacity]="getStyle('salon_wew_06')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="panel-middle-center-col">
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_07" class="light-icon"  [style.opacity]="getStyle('salon_wew_07')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
          <div class="light-bg panel-middle-center-btn">
            <div id="salon_wew_08" class="light-icon"  [style.opacity]="getStyle('salon_wew_08')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
            </div>
          </div>
        </div>
        <div class="panel-middle-center-margin"></div>
      </div>

    </div>
    <div class="panel-middle-distance" id="panel-middle-distance2">
    </div>
    <div class="panel-color outside-column panel-middle-right" id="panel-middle-right">
      <div class="panel-middle-side-upper">
        <div class="light-bg">
          <div id="salon_zew_06" class="light-icon"  [style.opacity]="getStyle('salon_zew_06')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
      <div class="panel-middle-side-downer">
        <div class="light-bg">
          <div id="salon_zew_07" class="light-icon"  [style.opacity]="getStyle('salon_zew_07')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row panel-distance row-center" id="panel-distance">
    <div class="outside-column panel-color" id="panel-distance-left">
    </div>
    <div class="panel-distance-center-background">
      <div class="panel-distance-center-bottom" id="panel-distance-center"><br/>
      </div>
    </div>
    <div class="outside-column panel-color" id="panel-distance-right">
    </div>
  </div>

  <div class="row row-center" id="panel-bottom">
    <div class="panel-color panel-bottom-left outside-column panel-bottom">
      <div class="light-bg btn-center">
        <div id="salon_zew_12" class="light-icon"  [style.opacity]="getStyle('salon_zew_12')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-bottom-center  panel-color panel-bottom">
      <div class="light-bg btn-bottom-left">
        <div id="salon_zew_11" class="light-icon"  [style.opacity]="getStyle('salon_zew_11')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-bottom-center panel-color panel-bottom">
      <div class="light-bg btn-center">
        <div id="salon_zew_10" class="light-icon"  [style.opacity]="getStyle('salon_zew_10')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-bottom-center panel-color panel-bottom">
      <div class="light-bg btn-bottom-right">
        <div id="salon_zew_09" class="light-icon"  [style.opacity]="getStyle('salon_zew_09')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
    <div class="panel-bottom-right outside-column panel-color panel-bottom">
      <div class="light-bg btn-center">
        <div id="salon_zew_08" class="light-icon"  [style.opacity]="getStyle('salon_zew_08')" (click)="switch($event)"  long-press  (onLongPress)="showPopup($event)">
        </div>
      </div>
    </div>
  </div>



  <div class="row button-panel" id="button-panel">
    <div class="button-center col-lg-3 col-xs-3 col-sm-3">
      <button type="button" class="btn btn-primary custom-btn-primary custom-btn button-width" onclick="this.blur();" [routerLink]="['/livingroom']" (click)="cancel()">ANULUJ</button>
    </div>
    <div class="button-center col-lg-6 col-xs-6 col-sm-6" >
      <input type="text" *ngIf="showSetNameInput()" [(ngModel)]="lightSetName" class="form-control set-name-input" id="inputSetName">
    </div>
    <div class="button-center col-lg-3 col-xs-3 col-sm-3">
      <button type="button" class="btn btn-primary custom-btn-primary custom-btn button-width" onclick="this.blur();"  [routerLink]="['/livingroom']" (click)="save()">ZAPISZ</button>
    </div>
  </div>
</div>

<!--<popup (confirmClick)="onSavePopup()" (cancelClick)="onCancelPopup()">-->
  <!--Wprowadź wartość (0-255):-->
  <!--<button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-increase" onclick="this.blur();"  (click)="onIncreaseDutyCycle()">+</button>-->
  <!--<input type="text" class="form-control input-box" (input)="onPopupValueChange()"  id="light2" [(ngModel)]="popupDutyCycle">-->
  <!--<button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-decrease" onclick="this.blur();" (click)="onDecreaseDutyCycle()">-</button>-->

  <!--<nouislider [connect]="true" [min]="0" [max]="50" [(ngModel)]="someRange"></nouislider>-->

<!--</popup>-->
