<div id="widget">
  <div class="rgb-sliders">
    <div class="red-slider">
      <ng5-slider id="red" [(value)]="redValue" [options]="redSliderOptions" (userChange)="onUserChange('red', $event)"></ng5-slider>
    </div>
    <div class="green-slider">
      <ng5-slider id="green" [(value)]="greenValue" [options]="greenSliderOptions" (userChange)="onUserChange('green', $event)"></ng5-slider>
    </div>
    <div class="blue-slider">
      <ng5-slider id="blue" [(value)]="blueValue" [options]="blueSliderOptions" (userChange)="onUserChange('blue', $event)"></ng5-slider>
    </div>
  </div>
  <div *ngIf="widget.name != undefined" class="widget-name mt-2" (click)="onNameClicked()">{{widget.name}}</div>
</div>
