<div id="widget">
	
  <div *ngIf="widget.type=='1-button'" class="buttons-container buttons-row-container">
  	<button type="button" class="btn one-button btn-text" [ngClass]="(buttonColors[0])?'btn-danger':'btn-secondary'" (click)="onClick(1)">{{buttonNames[0]}}</button>
  </div>

  <div *ngIf="widget.type=='2-buttons'" class="buttons-container">
  	<div class="buttons-row-container buttons-half-row upper-row-buttons">
  		<button type="button" class="btn double-button btn-text" [ngClass]="(buttonColors[0])?'btn-danger':'btn-secondary'" (click)="onClick(1)">{{buttonNames[0]}}</button>
  	</div>
  	<div class="buttons-row-container buttons-half-row bottom-row-buttons">
  		<button type="button" class="btn double-button btn-text" [ngClass]="(buttonColors[1])?'btn-danger':'btn-secondary'" (click)="onClick(2)">{{buttonNames[1]}}</button>
  	</div>
  </div>

  <div *ngIf="widget.type=='3-buttons'" class="buttons-container">
  	<div class="buttons-row-container buttons-half-row upper-row-buttons">
  		<button type="button" class="btn single-button left-col-button btn-text" [ngClass]="(buttonColors[0])?'btn-danger':'btn-secondary'" (click)="onClick(1)">{{buttonNames[0]}}</button>
  		<button type="button" class="btn single-button right-col-button btn-text" [ngClass]="(buttonColors[1])?'btn-danger':'btn-secondary'" (click)="onClick(2)">{{buttonNames[1]}}</button>
  	</div>
  	<div class="buttons-row-container buttons-half-row bottom-row-buttons">
  		<button type="button" class="btn double-button btn-text" [ngClass]="(buttonColors[2])?'btn-danger':'btn-secondary'" (click)="onClick(3)">{{buttonNames[2]}}</button>
  	</div>
  </div>

  <div *ngIf="widget.type=='4-buttons'" class="buttons-container">
  	<div class="buttons-row-container buttons-half-row upper-row-buttons">
  		<button type="button" class="btn single-button left-col-button btn-text" [ngClass]="(buttonColors[0])?'btn-danger':'btn-secondary'" (click)="onClick(1)">{{buttonNames[0]}}</button>
  		<button type="button" class="btn single-button right-col-button btn-text" [ngClass]="(buttonColors[1])?'btn-danger':'btn-secondary'" (click)="onClick(2)">{{buttonNames[1]}}</button>
  	</div>
  	<div class="buttons-row-container buttons-half-row bottom-row-buttons">
  		<button type="button" class="btn single-button left-col-button btn-text" [ngClass]="(buttonColors[2])?'btn-danger':'btn-secondary'" (click)="onClick(3)">{{buttonNames[2]}}</button>
  		<button type="button" class="btn single-button right-col-button btn-text" [ngClass]="(buttonColors[3])?'btn-danger':'btn-secondary'" (click)="onClick(4)">{{buttonNames[3]}}</button>
  	</div>
  </div>

  <div *ngIf="widget.name != undefined" class="widget-name mt-2" (click)="onNameClicked()">{{widget.name}}</div>
</div>
