
.widget-name {
  text-align: center;
  background: #151515;
  border-radius: 7px;
  border-width: 1px;
  border-color: #5a5a5a;
  border-style: solid;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.buttons-container {
  height: 140px;
  
}

.buttons-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-half-row {
  height: 50%;
}

.one-button {
  width: 100px;
  height: 100px;
}

.single-button {
  width: 55px;
  height: 55px;
}

.double-button {
  height: 55px;
  width: 120px;
}

.left-col-button {
  margin-right: 5px;
}

.right-col-button {
  margin-left: 5px;
}

.upper-row-buttons {
  padding-top: 5px;
}

.bottom-row-buttons {
  padding-bottom: 5px;
}

::ng-deep .buttons-container .buttons-row-container .btn {
  padding: 0px;
}